<%# ---------- Choice fields for simple form ---------- %>

<div class="fields col-4 mt-3" data-action="click->choice#selection">
  <%= f.input :start_datetime, as: :string, label: "Start Date Time", class: "form-control", input_html: {class: "datetimepicker"} %>
  <%= f.input :end_datetime, as: :string, label: "End Date Time", class: "form-control", input_html: {class: "datetimepicker"} %>
  <%= f.input :location, as: :text, label: 'Location:', placeholder:"eg. 11B Baker street", class: "form-control" %>

  <%# Hidden field to destory choice instance + link for event listener %>
  <%= f.input :_destroy, as: :hidden %>
  <%= link_to "Remove Choice", "javascript:void(0)", class: "remove_fields" %>
</div>
