<div class="container-confirmation">
  <div class="confirmation-box">
    <center>
      <div class="confirmation-title">
        <h2>Hooray ☕</h2>
        <h3>Your invite with <%= @meeting.user.first_name %> has been confirmed </h3>
        <br>
      </div>
      <br>
      <div class="confirmation-details">
        <h5>Date:</h5>
        <h5><%= @meeting.start_datetime %> To <%= @meeting.end_datetime %></h5>
        <h5>Location: <%= @meeting.location %></h5>
        <br>
      </div>
      <br>
      <h5>Sign up with an account with us!</h5>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"%>
    </center>
  </div>
</div>