<div class="containter p-5 mt-5">

  <%# ------- FORM FOR CREATING MEETING INVITE ------- %>
  <div>
    <%= simple_form_for @meeting do |f| %>

      <%# Original instance which sends google calender invite %>
      <h2>Create a new meeting:</h2>

      <%# <div class="col-3 my-3"> %>
        <%# f.input :start_datetime, as: :string, label: "Start Date Time", class: "form-control", input_html: {class: "datetimepicker"} %>
        <%# f.input :end_datetime, as: :string, label: "End Date Time", class: "form-control", input_html: {class: "datetimepicker"} %>
        <%# f.input :location, as: :text, label: 'Location:', placeholder:"eg. 11B Baker street", class: "form-control" %>
      <%# </div> %>

      <%# Choices nested form %>

      <div class="row  mb-3">


        <%= f.simple_fields_for :choices do |f| %>
          <div class="col-4">
            <div class="fields purple p-3 choice">
              <%= f.input :start_datetime, as: :string, label: "Start Date Time", class: "form-control", input_html: {class: "datetimepicker"} %>
              <%= f.input :end_datetime, as: :string, label: "End Date Time", class: "form-control", input_html: {class: "datetimepicker"} %>
              <%= f.input :location, as: :text, label: 'Location:', placeholder:"eg. 11B Baker street", class: "form-control" %>
            </div>
          </div>

          <%# render "choice_fields", f: f %>
        <% end %>

        <%# Method to add fields (application helper) %>
        <div class="col-4">
          <div class="p-3 choice unadded">
           <%= link_to_add_fields "+", f, :choices, class: "center" %>
          </div>
        </div>

        <div class="col-4">
          <div class="p-3 choice unadded">
           <%= link_to_add_fields "+", f, :choices, class: "center" %>
          </div>
        </div>
      </div>
      <%# Div for button %>
      <div>
        <%= f.button :submit, "Create Meeting", class: "btn btn-dark" %>
      </div>

    <% end %>
  </div>
</div>
