<div class="invite-container py-5 mt-5" data-controller="choice">
  <div class="invite-box">
    <% if @meeting.choices.length == 1 %>
      <center><h3 class="mb-4"><%= "Confirm your meeting with #{@meeting.users.first.first_name}" %></h3></center>
    <% else %>
      <center><h3 class="mb-4"><%= "Select your preferred choice" %></h3></center>
    <% end %>
    <%= simple_form_for @meeting do |f| %>
      <%# If one choice is chosen, there is no need to choose. Just display meeting details %>
      <%# Else, display all choices and allow for selection by Invitee %>
      <% if @meeting.choices.length == 1 %>

          <p class="mb-3 mt-5 p-0">
            <i class="fas fa-calendar-alt mx-1"></i>
            <%= @meeting.start_datetime.strftime("%A") %>,
            <%= @meeting.start_datetime.strftime("%b") %>
            <%= @meeting.start_datetime.day %>
            <i class="fas fa-clock mx-2"></i>
            <%= @meeting.start_datetime.strftime('%I:%M') %> -
            <%= @meeting.end_datetime.strftime('%I:%M %p') %>
          </p>

          <p class="mt-3 mb-4 p-0">
            <i class="fas fa-map-marker-alt mx-1"></i>
            <%= @meeting.location %></br>
          </p>

      <% else %>
        <div class="container mb-4">
          <% @meeting.choices.each do |c| %>
            <%= render "choice_selection", choice: c %>
          <% end %>
        </div>

        <%# Stimulus choice controller targets  %>
        <%= f.input :start_datetime, as: :hidden, input_html: { value: @meeting.start_datetime, data: { choice_target: "startDate"} } %>
        <%= f.input :end_datetime, as: :hidden, input_html: { value: @meeting.end_datetime, data: { choice_target: "endDate"} }  %>
        <%= f.input :location, as: :hidden, input_html: { value: @meeting.location, data: { choice_target: "location"} }  %>
      <%end %>

      <%# Input email & Confirmation %>
      <%= f.input :invitee_email, as: :string, label: 'Your email: ', placeholder: "Input email address", class: 'form-control' %>

      <br>


      <center><%= f.button :submit, "Confirm Meeting", class: "btn btn-meeting btn-rounded btn-gradient", disabled: @meeting.choices.length > 1 %></center>
    <% end %>
  </div>
</div>
