<div class="invite-container py-5 mt-5" data-controller="choice">
  <div class="invite-box">
    <% if @meeting.choices.length == 1 %>
      <h3 class="mb-4"><%= "Confirm your meeting with #{@meeting.users.first.first_name}" %></h3>
    <% else %>
      <h3 class="mb-4"><%= "Select your preferred choice" %></h3>
    <% end %>
    <%= simple_form_for @meeting do |f| %>
      <%# If one choice is chosen, there is no need to choose. Just display meeting details %>
      <%# Else, display all choices and allow for selection by Invitee %>
      <% if @meeting.choices.length == 1 %>
        <div class= "row justify-content-center">
          <div class="col-10 container row mb-4 choice">
            <div class="d-flex flex-column justify-content-center m-4 month">
              <div>
                <p class="p-0 m-0 text-secondary">
                  <%= @meeting.start_datetime.strftime("%b") %>
                </p>
              </div>
              <div class="dayint">
                <%= @meeting.start_datetime.day %>
              </div>
            </div>
            <div class="ml-1 p-2 d-flex flex-column  justify-content-center details ">
              <h5 class="p-0 m-0 mb-1">
                <%= @meeting.start_datetime.strftime("%A") %>
              </h5>
              <p class="m-0 p-0 text-secondary">
                <%= @meeting.location %></br>
                <%= "#{@meeting.start_datetime.strftime('%I:%M')} - #{@meeting.end_datetime.strftime('%I:%M %p')}" %>
              </p>
            </div>
          </div>
        </div>


      <% else %>
        <div class="container mb-4">
          <% @meeting.choices.each do |c| %>
            <%= render "choice_selection", choice: c %>
          <% end %>
        </div>

        <%# Stimulus choice controller targets  %>
        <%= f.input :start_datetime, as: :hidden, input_html: { value: @meeting.start_datetime, data: { choice_target: "startDate"} } %>
        <%= f.input :end_datetime, as: :hidden, input_html: { value: @meeting.end_datetime, data: { choice_target: "endDate"} }  %>
        <%= f.input :location, as: :hidden, input_html: { value: @meeting.location, data: { choice_target: "location"} }  %>
      <%end %>

      <%# Input email & Confirmation %>
      <%= f.input :invitee_email, as: :string, label: 'Your email: ', placeholder: "Input email address", class: 'form-control' %>

      <br>

      <center><%= f.button :submit, "Confirm Meeting", class: "btn btn-meeting btn-rounded btn-gradient", disabled: @meeting.choices.length > 1 %></center>
    <% end %>
  </div>
</div>
