<div class="invite-container py-5 mt-5" data-controller="choice">
  <div class="invite-box">
    <h3><%= "Confirm your meeting with #{@meeting.user.first_name}" %></h3>
    <br>

    <%= simple_form_for @meeting do |f| %>
      <%# Show Choices %>


      <% if @meeting.choices.length == 1 %>
        <div class="container m-3">
          <h5>Meeting Details: </h5>
          <h5><%= @meeting.start_datetime %></h5>
          <h5><%= @meeting.end_datetime %></h5>
          <h5><%= @meeting.location %></h5>
        </div>

      <% else %>
        <div class="container">
          <% @meeting.choices.each do |c| %>
            <%= render "choice_selection", choice: c %>
          <% end %>
        </div>

        <%# Input email & Confirmation %>
        <%# Stimulus choice controller targets  %>
        <%= f.input :start_datetime, as: :hidden, input_html: { value: @meeting.start_datetime, data: { choice_target: "startDate"} } %>
        <%= f.input :end_datetime, as: :hidden, input_html: { value: @meeting.end_datetime, data: { choice_target: "endDate"} }  %>
        <%= f.input :location, as: :hidden, input_html: { value: @meeting.location, data: { choice_target: "location"} }  %>
      <%end %>

      <%= f.input :invitee_email, as: :string, label: 'Your email', placeholder: "input your email address", class: 'form-control' %>
      <br>
      <center><%= f.button :submit, "Confirm meeting with #{@meeting.user.first_name}", class: "caffiend-btn", disabled: @meeting.choices.length > 1 %></center>
    <% end %>
  </div>
</div>
