<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<%# ------- DASH BOARD ------- %>

<div class="dashboard-container py-5 mt-5">
  <div class="row justify-content-center">
    <%# ----- User Profile ----- %>

    <div class="dashboard-card col-12 col-md-6 col-lg-3" data-controller="edit-user">
      <div class="card-title">
      <% if current_user.photo.key %>
        <%= cl_image_tag current_user.photo.key, class:"profile-img" %>
      <% else %>
          <%= image_tag (current_user.image ? current_user.image : "default-user.png"), class: "profile-img" %>
      <% end %>
        <%#= image_tag (current_user.image ? current_user.image : "default-user.png"), class: "profile-img" %>
        <h4><strong> <%= @user.first_name %> <%= @user.last_name %> </strong></h4>
      </div>
      <div class="user-info-card" data-edit-user-target="info">
        <div class="d-flex justify-content-end">
          <button class="edit-user" type="button" data-edit-user-target="button" data-action="click->edit-user#displayForm">
            <i class="far fa-edit"></i>
          </button>
        </div>
        <center>
          <h5><strong><span style="color: #7676f8">About</span></strong></h5>
          <p><%= @user.about =%></p>
          <br>
          <h5><strong><span style="color: #7676f8">Description</span></strong></h5>
          <p> <%= @user.description %></p>
        </center>
      </div>

      <%= simple_form_for @user, html: { class: 'd-none', data: { edit_user_target: 'form', action: 'submit->edit-user#update' } } do |f| %>
        <%= f.input :about %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class:"px-4 btn-submit large link" %>
      <% end %>
    </div>

    <%# ----- Schedule Card ----- %>

    <div class="tab-card">
      <div class="meeting-button d-flex flex-row-reverse">
        <%= link_to new_meeting_path, class: "px-4 text-decoration-none btn-meeting large link mr-1" do %>
          <i class="far fa-calendar-plus mr-4"></i>New Meeting
        <% end %>
      </div>
      <div class="schedule-card d-flex">
        <div class="upcoming-card">
          <div class="card-title">
            <h4><strong> Upcoming Schedule </strong></h4>
          </div>
          <% User.first_three_meetings(current_user).each do |first_three_meetings| %>
            <div class= "info-card">
              <h5> Caffiend Session </h5>
              <p><strong> Location: </strong><%= first_three_meetings.location %></p>
              <p> in <span style="color: #7676f8"><strong><%= (first_three_meetings.start_datetime.strftime('%d')).to_i - (Date.today.day).to_i %> Day(s) </strong></span></p>
            </div>
          <% end %>
          <div class="calendar-button d-flex">
            <%= link_to upcoming_meetings_path, class: "px-4 text-decoration-none btn-calendar large link" do %>
              View Calendar
            <% end %>
          </div>
          <br>
        </div>

        <%# ----- Engagements ----- %>

        <div class="engagement-card justify-content-center">
          <div class="card-title">
            <h4><strong> Engagements </strong></h4>
          </div>
          <div class="engagement-box">
            <div class="d-flex flex-row justify-content-center p-3">
              <div class="mr-3">
                <h4><%= User.connections(current_user).length %></h4>
              </div>
              <div>
                New Connections
              </div>
            </div>
            <div class="m-3 confirmation details inner">
              <div class ="enagement-info p-3 m-2">
                <center>
                <p>
                <span style="font-size: 30px; color: #7676f8"><strong><%= User.connections(current_user).length %> </strong></span>&nbsp;New Connections
                </p>
                </center>
              </div>
            </div>
            <div class="m-3 confirmation details inner">
              <div class ="engagement-info p-3 m-2">
                <center>
                  <p>
                  <span style="font-size: 30px; color: #7676f8"><strong><%= User.completed_meetings(current_user) %> </strong></span>&nbsp;Completed Chats
                  </p>
                </center>
              </div>
            </div>
            <div class="m-3 confirmation details inner">
              <div class ="engagement-info p-3 m-2">
                <center>
                  <p>
                  <span style="font-size: 30px; color: #7676f8"><strong><%= User.recurring_chats(current_user) %> </strong></span>&nbsp;Recurring Chats
                  </p>
                </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
