<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<%# ------- DASH BOARD ------- %>

<div class="dashboard-container py-5 mt-5">
  <div class="row justify-content-center">
    <%# ----- User Profile ----- %>

    <div class="dashboard-card col-12 col-md-6 col-lg-3" data-controller="edit-user">
      <div class="card-title">
        <%= image_tag (current_user.image ? current_user.image : "default-user.png"), class: "profile-img" %>
        <h4><strong> <%= @user.first_name %> <%= @user.last_name %> </strong></h4>
        <i class="fas fa-mug-hot fa-2x mb-2" data-edit-user-target="icon" data-action="click->edit-user#displayForm"></i>
      </div>
      <div class="user-info-card" data-edit-user-target="info">
        <h5>About</h5> 
        <p><%= @user.about =%></p>
        <br>
        <h5>Description</h5>
        <p> <%= @user.description %></p>
      </div>

      <%= simple_form_for @user, html: { class: 'd-none', data: { edit_user_target: 'form', action: 'submit->edit-user#update' } } do |f| %>
        <%= f.input :about %>
        <%= f.input :description %>
        <%= f.submit %>
      <% end %>  
    </div>

    <%# ----- Schedule Coffee Chat ----- %>

    <div class="dashboard-card col-12 col-md-6 col-lg-3">
      <div class="card-title">
        <h4><strong> Schedule Coffee Chat </strong></h4>
      </div>
      <div class="info-card">
        <i class="fas fa-calendar"></i>
        <%= link_to "Create New Meeting", new_meeting_path, class: "btn" %>
      </div>
      <div class="info-card">
        <i class="fas fa-redo-alt"></i>
        <p> Reschedule </p> <%# placeholder for reschedule link %>
      </div>
    </div>

    <%# ----- Upcoming Schedule ----- %>

    <div class="dashboard-card col-12 col-md-6 col-lg-3">
      <div class="card-title">
        <h4><strong> Upcoming Schedule </strong></h4>
      </div>
      <div class= "info-card">
        <%= image_tag "https://avatars.githubusercontent.com/u/88544880?v=4", class: "small-img-circle" %> <%# placeholder user's dp %>
        <div>
          <h5> Kopi Soh </h5>
          <p> in 1 Day(s) </p>
        </div>
      </div>
      <div class= "info-card">
        <%= image_tag "https://avatars.githubusercontent.com/u/86636163?v=4", class: "small-img-circle" %> <%# placeholder user's dp %>
        <div>
          <h5> Tiger Uncle </h5>
          <p> in 3 Day(s) </p>
        </div>
      </div>
      <div class= "info-card">
        <%= image_tag "https://avatars.githubusercontent.com/u/82791093?v=4", class: "small-img-circle" %> <%# placeholder user's dp %>
        <div>
          <h5> Milo Boy </h5>
          <p> in 5 Day(s) </p>
        </div>
      </div>
      <%= link_to "View Upcoming Meetings", upcoming_meetings_path, class: "btn btn-block" %>
    </div>

    <%# ----- Engagements ----- %>

    <div class="dashboard-card col-12 col-md-6 col-lg-3">
      <div class="card-title">
        <h4><strong> Engagements </strong></h4>
      </div>
      <div class ="info-card d-flex justify-content-between">
        <div class="engagement-num">
          <h1><strong> 7 </strong></h1>
        </div>
        <div class="engagement-details">
          <p> New Connections Made </p>
        </div>
      </div>
      <div class ="info-card d-flex justify-content-between">
        <div class="engagement-num">
          <h1><strong> 3 </strong></h1>
        </div>
        <div class="engagement-details">
          <p> Completed Coffee Chats </p>
        </div>
      </div>
      <div class ="info-card d-flex justify-content-between">
        <div class="engagement-num">
          <h1><strong> 3 </strong></h1>
        </div>
        <div class="engagement-details">
          <p> Recurring Chats </p>
        </div>
      </div>
    </div>
  </div>
</div>
