<%#=Navbar for the homepage only%>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "caffiend-logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%#= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", user_path(current_user), class: "nav-link", style: "color: white" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag (current_user.image ? current_user.image : "default-user.png"), class: "avatar dropdown-toggle", style: "border: 1px solid white", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%#= link_to "Dashboard", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Calendar", upcoming_meetings_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link btn-login", style:"color: white" %>
          </li> &nbsp;
          <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn-signup", style: "color: white" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
