<!--homepage banner-->
<div class="home-container">
  <div class="home-banner">
    <div class="banner-text">
      <h1>Super charge<br> your <span class="text-highlight">coffee chats</span></h1>
      <p>Millions of young professionals - from startups to large enterprises - use Caffiend's software to schedule coffee chats easily.</p>
    </div>
  </div>
  <div class="scroll-down"></div>
  <br>
<!--homepage contents - cards-->
<div class="content-container reveal fade-bottom">
  <div class="content-title my-5">
      <center><h3>How <span class="text-highlight">Caffiend</span> works</h3></center>
    </div>
  <br>

  <div class="content-cards">
    <div class="row justify-content-center">
      <div class="content-card col-lg-4 col-md-8 col-sm-10">
        <div class="mb-2">
          <%= image_tag("create.png", alt:"freekpik", class:"content-img") %>
          <h4>Create</h4>
        </div>
          <p>Create a meeting easily using Caffiend. 🗓️</p>
      </div>

      <div class="content-card col-lg-4 col-md-8 col-sm-10">
        <div class="mb-2">
          <%= image_tag("invitation.png", alt:"freekpik", class:"content-img") %>
          <h4>Invite</h4>
        </div>
          <p>Send a Google invite over to your invitee. ✉️</p>
      </div>

      <div class="content-card col-lg-4 col-md-8 col-sm-10">
        <div class="mb-2">
          <%= image_tag("chat.png", alt:"freekpik", class:"content-img") %>
          <h4>Chat</h4>
        </div>
          <p>Look forward to your coffee chat! ☕</p>
      </div>

  </div>

  </div>
</div>

<!--homepage contents - columns-->

<div class="column-container reveal fade-left">
  <div class="content-title">
    <br>
    <center><h3><span class="text-highlight">Hassle free</span> scheduling to take out the work in <span class="text-highlight">networking</span></h3></center>
  </div>
   <br><br><br>

    <div class="columns row justify-content-center">
      <div class="column col-lg-3 col-md-8 col-sm-10">
        <%= image_tag("calendar.gif", alt:"freekpik", class:"column-img") %>
          <div class="column-text">
            <h5>Seamless Scheduling</h5>
            <p>Easily setup and schedule meetings with others without leaving the application.</p>
          </div>
      </div>

      <div class="column col-lg-3 col-md-8 col-sm-10">
        <%= image_tag("message.gif", alt:"freepik", class:"column-img") %>
          <div class="column-text">
            <h5>Instant Booking</h5>
            <p>Enable users to schedule meetings without the back-and-forth email communication.</p>
          </div>
      </div>

      <div class="column col-lg-3 col-md-8 col-sm-10">
        <%= image_tag("notification-bell.gif", alt:"freepik", class:"column-img") %>
          <div class="column-text">
            <h5>Reminders</h5>
            <p>Send custom reminders via email for upcoming meetings.</p>
          </div>
      </div>

      <div class="column col-lg-3 col-md-8 col-sm-10">
        <%= image_tag("video.gif", alt:"freepik", class:"column-img") %>
          <div class="column-text">
            <h5>Video Conferencing</h5>
            <p>Have the option to connect via Zoom and Google Meet, and generate conference links within the invite.</p>
          </div>
      </div>

    </div>

</div>

</div>
